/node_modules
**/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.preview
/.workbuddy
/AGENTS.md
/.vscode
.arts/
# 测试/调试产物
.hypium/
.test-screenshots/
package.json
package-lock.json
